
body{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a{
  color: #fff;
}

#head{
  position: absolute;
  width: 100%;
  top: 0;
  color: #fff;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.logo{
  display: inline-block;
  margin-top: 37px;
  margin-left: 7%;
  font-size: 28px;
  font-weight: 900;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: -1px;
  cursor: pointer;
}

.sign{
  margin-top: 50px;
  margin-right: 8%;
}

.login, .logup{
  padding: 7px 18px;
  font-family: '微软雅黑';
  border-radius: 4px;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.login{
  margin-right: 11px;
  border: 1px solid #fff;
}

.login:hover{
  color: #03A9F4;
  background: #fff;
}

.logup{
  color: #03A9F4;
  border: 1px solid #03A9F4;
}

.logup:hover{
  color: #fff;
  background: #03A9F4;
}

.menu i{
  margin-top: -20px;
  font-size: 2.3em;
}

.menu_nav{
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.menu_nav_active{
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav_title{
  margin: 0;
  padding: 1em;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.menu_nav ul{
  margin: 0;
  padding: 0;
}

.menu_nav li {
  line-height: 48px;
}

.menu_nav a{
  display: block;
  padding: 0 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  line-height: 48px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4);
  outline: none;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.menu_nav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.head_body{
  margin-top: 150px;
  text-align: center;
}

.head_title{
  margin-bottom: 30px;
  font-size: 3.6em;
}

.big_search{
  padding: 10px 15px;
  width: 360px;
  height: 20px;
  font: normal 16px 'Arial', 'Tahoma';
  border: 0;
  background: #fff;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.big_search:hover + .big_search_button,
.big_search:focus + .big_search_button{
  background: #5cc924;
}

.big_search::-webkit-input-placeholder {
   color: #9e9e9e;
}

.big_search:-moz-placeholder {
    color: #9e9e9e;
}

.big_search:-ms-input-placeholder {
    color: #9e9e9e;
}

.big_search_button{
  width: 50px;
  height: 40px;
  vertical-align: bottom;
  color: #fff;
  background: #c1c1c1;
  border: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  transition: background 2.0s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
}

.big_search_button:hover{
  background: #5cc924;
}

.big_search_button:active{
  background: #329400;
}

.overlay_full{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313131;
  opacity: 0.6;
}

@media only screen and (max-width: 992px) {
  .menu_nav a {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 600px) {
  .logo{
    font-size: 21px;
  }

  .head_title{
    font-size: 3em;
  }

  .big_search{
    width: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .menu_nav{
    width: 230px;
  }
  .head_body{
    margin-top: 110px;
  }
}
