
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#signUp_2,
#signUp_3{
  display: none;
}

.sign{
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.title{
  display: inline-block;
  margin-top: 88px;
  margin-bottom: 15px;
  font-size: 1.25em;
  letter-spacing: 1px;
  color: #616161;
}

.form_title{
  margin: -2px 0 31px;
  font-size: 18px;
  font-weight: 400;
  color: grey;
}

.form-control, .btn, .btn_extra{
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: border-color .15s ease-in-out;
  -moz-transition: border-color .15s ease-in-out;
  -ms-transition: border-color .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out;
  transition: border-color .15s ease-in-out;
}

.form-control{
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-control::-moz-placeholder{
  color:#bdbdbd;
}

.form-control:-ms-input-placeholder{
  color:#bdbdbd;
}

.form-control::-webkit-input-placeholder{
  color:#bdbdbd;
}

.form-disable{
  background-color: #eee;
}

.form-autofill{
  background-color: #FAFFBD;
}

.form-error{
  margin-top: -10px;
  margin-bottom: 25px;
  padding: 8px 15px;
  width: 100%;
  text-align: left;
  color: #F74555;
  background-color: #fff4f4;
  box-sizing: border-box;
  border-radius: 3px;
}

input,
.btn,
.btn_extra{
  margin-bottom: 25px;
  padding: 12px;
  height: auto;
  font-size: 16px;
  line-height: 20px;
}

input{
  background-color: #fff;
}

input:focus{
  border-color: #9a9a9a;
}

.pwd{
  position: relative;
}

.forget_pwd{
  position: absolute;
  right: 1em;
  top: 1em;
  color: #bdbdbd;
  z-index: 5;
}

.btn{
  color: #fff;
  background-color: #3DA8F5;
  border: 1px solid #3DA8F5;
}

.btn_extra{
  color: #3DA8F5;
  background-color: #FFF;
  border: 1px solid #3DA8F5;
  transition: background-color 0.218s ease;
}

.btn,
.btn_extra{
  cursor: pointer;
  -webkit-transition: padding-right 0.218s ease;
  -moz-transition: padding-right 0.218s ease;
  -ms-transition: padding-right 0.218s ease;
  -o-transition: padding-right 0.218s ease;
  transition: padding-right 0.218s ease;
}

.btn_extra:hover{
  color: #fff;
  background-color: #3DA8F5;
}

.btn:hover,
.btn_extra:hover{
  padding-right: 30px;
}

.icon{
  opacity: 0;
  margin-left: 8px;
  margin-right: -31px;
  line-height: 0;
  vertical-align: middle;
  -webkit-transition: opacity 0.218s ease;
  -moz-transition: opacity 0.218s ease;
  -ms-transition: opacity 0.218s ease;
  -o-transition: opacity 0.218s ease;
  transition: opacity 0.218s ease;
}

.btn:hover .icon,
.btn_extra:hover .icon{
  opacity: 1;
}

.login_action{
  color: #A6A6A6;
  letter-spacing: 1px;
}

.login_action:hover{
  text-decoration: underline;
}

.horizontal_line{
  margin-bottom: 25px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.form_extra{
  margin: -1px auto 0;
  width: 86%;
  line-height: 1.3em;
  color: #A6A6A6;
}

@media only screen and (max-width: 992px) {
  .title{
    margin-top: 88px;
  }
}

@media only screen and (max-width: 600px) {
  .title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 0.7em;
    letter-spacing: 0;
  }

  .form_title{
    margin: 1px 0 32px;
    font-size: 16px;
  }

  .form-control, .btn{
    width: 96%;
  }

  .forget_pwd{
    right: 1.8em;
  }
}

@media only screen and (max-width: 375px) {
  .form-control, .btn{
    width: 86%;
  }

  .forget_pwd{
    right: 2.8em;
  }
}
